*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbox{
    background-color:rgb(31 88 88);
}
.navbox .hprimary{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
}
@media(max-width:300px){
    .navbox .hprimary{
        font-size: 1.3rem;
    }
    .navbox .dots{
        padding: 1px 1px;
    } 
}
.navbox .navbar{
    padding: 4px 0%;
}
body .header{
    margin-top: 10px;
    padding: 3.5% 7%;
} 
.whole{
    border-radius: 5px;
    background-color:rgb(31 88 88);
    color: white;
    font-size: 1.15rem;
    font-family: 'Montserrat', sans-serif;
    width:100%;
}
.whole button{
    padding:2px 5px;
    margin: 5px 5px;
}
.input-title{
    border-radius: 5px;
    background-color:rgb(31 88 88);
    outline:none;
    border:none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:1.15rem;
    width:40%;
}
.box{
    display: flex;
    justify-content: space-between;
}
